.global-Accueil {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Accueil {
  margin-top: 35vh;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text-acceuil {
  font-size: 1.2em;
  color: #74645a;
  text-align: center;
  padding: 5px;
}

.rendezVous {
  font-size: 1em;
  color: #74645a;
  cursor: pointer;
}
