.global-hypnose {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hypnose {
  border: 1px solid red;
  background-color: #d9d9d980;
  margin-top: 35vh;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
