* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: yellow;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/fond.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
}
